<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
<footer class="bg-dark text-center sticky-bottom">
  <div class="container pt-3 pb-1">
    <div>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a
            class="text-light link-underline-opacity-0 link-underline"
            href="https://github.com/mikanelson/"
            target="_blank"
          >
            <i class="fa-brands fa-github"></i>
            Github
          </a>
        </li>
        <li class="list-inline-item">
          <a
            class="text-light link-underline-opacity-0 link-underline"
            href="https://skiffage.itch.io/"
            target="_blank"
          >
            <i class="fa-brands fa-itch-io"></i>
            Game Portfolio
          </a>
        </li>
        <li class="list-inline-item">
          <a
            class="text-light link-underline-opacity-0 link-underline"
            href="https://www.linkedin.com/in/mika-nelson-623801154/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
            LinkedIn
          </a>
        </li>
      </ul>
      <p class="text-light">Copyright &copy; 2023 Mika Nelson</p>
    </div>
    <div></div>
  </div>
</footer>
