<div class="container">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <a
          href="https://github.com/mikanelson/mikanelson.github.io"
          target="_blank"
        >
          <img
            src="././assets/divine-courage.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Divine Courage"
            width="700"
            height="500"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3 text-light">Divine Courage</h1>
        <p class="lead text-light">
          Web app port and refactoring of
          <a
            href="https://github.com/mikanelson/dota2DivineCourage"
            class="text-reset"
            target="_blank"
            >old Divine Courage desktop app</a
          >.
        </p>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <a
          href="https://github.com/mikanelson/mikanelson.github.io"
          target="_blank"
        >
          <img
            src="././assets/divine-courage.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Divine Courage"
            width="700"
            height="500"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3 text-light">Divine Courage</h1>
        <p class="lead text-light">
          Web app port and refactoring of
          <a
            href="https://github.com/mikanelson/dota2DivineCourage"
            class="text-reset"
            target="_blank"
            >old Divine Courage desktop app</a
          >.
        </p>
      </div>
    </div>
  </div>
</div>
