<div class="container text-left portfolio-wrapper">
  <h1 class="display-4 text-light border-bottom py-2">Projects</h1>
  <div class="row border-bottom">
    <div class="col-8 text-light">
      <h1 class="display-5">Portfolio Website</h1>
      <p class="align-items-center justify-content-center">
        Personal website. <br />
        Developed using Angular. Deployed with Netlify.
      </p>
    </div>
    <div class="col-4 text-light">
      <a
        href="https://github.com/mikanelson/angular-portfolio-website"
        target="_blank"
      >
        <img
          class="rounded-lg-3"
          src="././assets/portfolio-site.png"
          alt="Portfolio Website"
          width="300"
        />
      </a>
    </div>
  </div>
  <br />
  <div class="row border-bottom">
    <div class="col-8 text-light">
      <h1 class="display-5">Divine Courage</h1>
      <p class="align-items-center justify-content-center">
        Web app port and refactoring of
        <a
          href="https://github.com/mikanelson/dota2DivineCourage"
          target="_blank"
        >
          https://github.com/mikanelson/dota2DivineCourage
        </a>
        .
        <br />
        Randomizes hero and build for Dota 2.
      </p>
    </div>
    <div class="col-4 text-light">
      <a
        href="https://github.com/mikanelson/mikanelson.github.io"
        target="_blank"
      >
        <img
          class="rounded-lg-3"
          src="././assets/divine-courage.png"
          alt="Divine Courage"
          width="300"
        />
      </a>
    </div>
  </div>
  <br />
  <div class="row border-bottom">
    <div class="col-8 text-light">
      <h1 class="display-5">Archnemesis API</h1>
      <p class="align-items-center justify-content-center">
        A fan-made API designed to remove some of the complexity surrounding
        Archnemesis for Path of Exile.
        <br />
        Developed using Spring. Hosted using Azure.
      </p>
    </div>
    <div class="col-4 text-light">
      <a href="https://github.com/mikanelson/ArchnemesisAPI/" target="_blank">
        <img
          class="rounded-lg-3"
          src="././assets/archnemesis.png"
          alt="Archnemesis API"
          width="300"
        />
      </a>
    </div>
  </div>
  <br />
  <div class="row border-bottom">
    <div class="col-8 text-light">
      <h1 class="display-5">Tomb of Orla</h1>
      <p class="align-items-center justify-content-center">
        Text-based dungeon crawler leveraging JDBC and a PostgreSQL database.
        <br />
      </p>
    </div>
    <div class="col-4 text-light">
      <a href="https://github.com/mikanelson/DungeonCrawler" target="_blank">
        <img
          class="rounded-lg-3"
          src="././assets/tomb-of-orla.png"
          alt="Tomb of Orla"
          width="300"
        />
      </a>
    </div>
  </div>
</div>
