<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Mika Nelson</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      {{ bio }}
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a routerLink="/about" class="btn btn-success btn-lg px-4 me-sm-3">
        Contact Me
      </a>
    </div>
  </div>
  <div id="portfolioCarousel" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#portfolioCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#portfolioCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#portfolioCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://alexgarbus.itch.io/monkey-wrench" target="_blank">
          <img
            src="./././assets/monkey-wrench.png"
            class="d-block w-100"
            alt="Monkey Wrench"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Monkey Wrench</h5>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://skiffage.itch.io/neon-crown" target="_blank">
          <img
            src="./././assets/neon-crown.png"
            class="d-block w-100"
            alt="Neon Crown"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Neon Crown</h5>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://mikanelson.github.io/" target="_blank">
          <img
            src="./././assets/divine-courage.png"
            class="d-block w-100"
            alt="Divine Courage"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Divine Courage</h5>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#portfolioCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#portfolioCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
